.nizom_item {
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: start;
  margin-top: 30px;
}
.nizom_item > input {
  /* margin-bottom: 10px; */
  margin-top: 5px;
}

.nizom {
  padding: 30px;
  font-size: 18px;
}

.erkak_ayol {
  display: flex;
}


.erkak_ayol>label{
    margin-top: 5px;
}
.nizom h1 {
  font-size: 40px;
}

.nizom ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
